.DS_Store
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
algo-curve.Rproj
.Rproj.user/
*_cache/
/cache/
*_files/
/logo_text_white.pdf
algo-curve.pdf
algo-curve.html
algo-curve.aux
algo-curve.blg
algo-curve.log
algo-curve.synctex.gz
algo-curve.toc
/algo-curve.tex
/algo-curve.bbl
README.html
/.quarto/
_extensions/
renv/

tikz/tikz.aux
tikz/tikz.log
tikz/tikz.synctex.gz
tikz/tikz.pdf
