.DS_Store
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
algo-curve.Rproj
.Rproj.user/
*_cache/
/cache/
*_files/
logo_text_white.pdf
algo-curve.pdf
algo-curve.html
algo-curve.tex
README.html
/.quarto/
_extensions/
renv/