.DS_Store
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
algo-curve.Rproj
.Rproj.user/
*_cache/
/cache/
*_files/
template-computo-R.html
logo_text_white.pdf
template-computo-R.pdf
algo-curve.pdf
algo-curve.html
README.html
/.quarto/
_extensions/
renv/